.carousel img {
  min-width: 100%;
}
.carousel-caption {
  background-color: transparent;
  font-size: 18px;
  line-height: 1.45em;
  max-width: 400px;
  margin-left: 100px;
  padding-bottom:  120px;
}


