{% if page.title == 'YunnuY' %}
<div id="footer_content">
  <div id="customers">
    <h3>合作伙伴</h3>
    <ul>
      <li><a href="http://www.ruby-china.org/" target="_blank"><img src="images/ruby_china.png" width="146" /></a></li>
      <li><a href="http://www.wiseonline.com.cn/" target="_blank"><img src="images/wiseonline.png" width="146" /></a></li>
      <li><a href="http://mige365.com/" target="_blank"><img src="images/mige365.png" width="145" /></a></li>
      <li><a href="http://ikeepu.com/" target="_blank"><img src="images/ikeepu.png" width="120" /></a></li>
    </ul>
  </div>
  <div id="contact">
    <h3>联系我们</h3>
    <div id="map"></div>
    <div id="details">
      <h4>办公地址</h4>
      <p id="address">上海浦东新区盛夏路益江路126弄</p>
      <div id="m_phone"></div>
      <p>杨先生【13651706129】</p>
      <div id="m_phone"></div>
      <p>彭先生【18621113676】</p>
      <div id="mail"></div>
      <p>feitian124@gmail.com</p>
      <h5>关注我们</h5>
      <a href="http://weibo.com/yunnuy" target="_blank"><div id="sina"></div></a>
      <a href="http://t.qq.com/yunnuy" target="_blank"><div id="qq"></div></a>
    </div>
  </div>
</div>
{% endif %}
<div class="copyright">
  Copyright &copy; {{ site.time | date: "%Y" }} Shanghai YunnuY Information Technologies Co., Ltd. All Rights Reserved.<br/>
  上海原力信息技术有限公司版权所有
</div>
