/********************** social ***********************************/
.navbar {
  color: #4f545e;
  background-image:url(../images/bg.png);
}
#navigation_header{
	height:80px;
	width:980px;
	position:relative;
	margin:0 auto;
	}
#navigation_header #social_header{
	position: absolute;
	right:6px;
	top:5px;
	color: #75858F;
	padding-left: 750px;
}
#navigation_header #social_header a{top:0;}
#navigation_header #social_header a:hover{text-decoration: underline;}
#navigation_header #social_header p {
	display: inline;
	line-height:20px;
}

#navigation_header #social_header .first_social{
	padding-right: 10px;
	border-right: 1px solid #CCCCCC;
	margin-right: 6px;
}
#navigation_header #social_header .last_social{
	padding-left: 10px;
	border-left: 1px solid #CCCCCC;
	margin-left: 6px;
}
#navigation_header #social_header .icon{
	display: inline-block;
	width:16px;
	height:0;
	padding-top: 16px;
	background-repeat:no-repeat;
	float: left;
	margin:1px 3px;
	.sina{ 
		background-image:url(../images/tsina16e.gif);
	}
	.sina:hover{
		background-image:url(../images/tsina16d.gif);
	}
	.qq{
		background-image:url(../images/tqq16e.gif);
	}
	.qq:hover{
		background-image:url(../images/tqq16d.gif);
	}
}

/********************* navigation **************************************/
a:link, a:visited{
    text-decoration: none;
	color:#4F545E;
	}
.navigation_header{
	height:85px;
	width:980px;
	position:relative;
	margin:0 auto;
	}
.navigation_header .extro_op, .navigation_header .logo{
	position:absolute;
	}
.navigation_header .logo{
	top:15px;
	width:333px;
	height:45px;
	background-image:url(../images/logo-2.png);
	text-indent:-9999px;
	}
.navigation_header .extro_op{
	position:absolute;
	right:0;
	top:25px;
	font-size:15px;
	}
.navigation_header .extro_op ul{
	}
.navigation_header .extro_op ul li{
	height:29px;
	padding:0 10px;
	display:inline-block;
	border-radius:20px;
	zoom: 1;
    *display: inline;
	}
.navigation_header .extro_op ul span{
	line-height:29px;
	text-shadow:1px 1px 1px white;
	}
.navigation_header .extro_op ul li:first-child, .navigation_header .extro_op ul li.home{
	padding:0 0;
	}
.navigation_header .extro_op ul li:first-child a, .navigation_header .extro_op ul li.home a{
	display:inline-block;
	width:70px;
	background-image:url(../images/home.png);
	text-indent:-9999px;
	}
.navigation_header .extro_op ul .current, .navigation_header .extro_op ul li:hover{
	background-image:url(../images/op-button.png);
	box-shadow:inset 0px 1px 1px grey;
	}
