
#navigation_header{
	height:80px;
	width:980px;
	position:relative;
	margin:0 auto;
	}
#navigation_header #social_header{
	position: absolute;
	right:6px;
	top:5px;
	color: #75858F;
	padding-left: 750px;
}
#navigation_header #social_header a{top:0;}
#navigation_header #social_header a:hover{text-decoration: underline;}
#navigation_header #social_header p {
	display: inline;
	line-height:20px;
}

#navigation_header #social_header .first_social{
	padding-right: 10px;
	border-right: 1px solid #CCCCCC;
	margin-right: 6px;
}
#navigation_header #social_header .last_social{
	padding-left: 10px;
	border-left: 1px solid #CCCCCC;
	margin-left: 6px;
}
#navigation_header #social_header .icon{
	display: inline-block;
	width:16px;
	height:0;
	padding-top: 16px;
	background-repeat:no-repeat;
	float: left;
	margin:1px 3px;
	.sina{ 
		background-image:url(../images/tsina16e.gif);
	}
	.sina:hover{
		background-image:url(../images/tsina16d.gif);
	}
	.qq{
		background-image:url(../images/tqq16e.gif);
	}
	.qq:hover{
		background-image:url(../images/tqq16d.gif);
	}
}



